<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Polygon</title>
    <link rel="stylesheet" href="../sass/main.scss">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <aside id="menu" class="mdc-elevation--z16">
        <button class="mdc-icon-button material-icons" id="dot-tool">center_focus_strong</button>
        <button class="mdc-icon-button material-icons" id="polygon-tool">crop_3_2</button>
        <button class="mdc-icon-button material-icons" id="color-tool">color_lens</button>
    </aside>
    <script src="../js/main.js"></script>
</body>
</html>