<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Polygon</title>
    <link rel="stylesheet" href="../sass/main.scss">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
</head>
<body>
    <aside id="menu" class="mdc-elevation--z16">
        <button class="mdc-icon-button material-icons" id="dot-tool">center_focus_strong</button>
        <button class="mdc-icon-button material-icons" id="polygon-tool">crop_3_2</button>
        <button class="mdc-icon-button" id="erase-tool"><i class="fas fa-eraser"></i></button>
        <button class="mdc-icon-button material-icons" id="color-tool">color_lens</button>
    </aside>

    <div class="mdc-snackbar" aria-live="assertive" aria-atomic="true"
        aria-hidden="true">
        <div class="mdc-snackbar__text"></div>
        <div class="mdc-snackbar__action-wrapper">
            <button type="button" class="mdc-snackbar__action-button"></button>
        </div>
    </div>

    <script src="../js/main.js"></script>
</body>
</html>